<div class="article_form">
<%= form_with model: article do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= I18n.locale == :en ? pluralize(article.errors.count, "error") : "#{article.errors.count} შეცდომის გამო" %> <%= t("prohibited this article from being saved")%>:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= t(error.full_message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label t(:title) %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label t(:body) %><br>
    <%= form.rich_text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label t(:description) %><br>
    <%= form.text_area :description %>
    <% article.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

 
   <div class ='form-group'>
  <% if !@categories.nil? %>
  <%= form.label t(:categories) %>
  <%= form.collection_select :category_ids, Category.where("approved = ?", true).order(:name), :id, :name, {},
  {class: 'form-control select2', multiple:true}%>
  <% end %>
</div>

  <div>
  <%= form.label t(:status) %><br>
  <%= form.select :status, ['public', 'private', 'archived', 'members only'], selected:'public' %>
  </div>
      <br>
  <div>

  <h6><%= t("please choose a language of your article so that readers can find your article easier") %><h6>
  <%= form.label t(:language) %><br>
  <%= form.select :language, ['english', 'georgian'], selected:'english' %>
  </div>


<%if current_user.role == "admin"%>
<%= form.check_box :approved %>
<%= label_tag :approve, t("check to approve") %>
<%end%>
 <div>
    <%= form.submit %>
  </div>
<% end %>
</div>


