<%= search_form_for @q, remote: true do |f| %>
  <%= f.search_field :title_or_description_cont, placeholder: t('search for articles'), class: "form-control"  %>
  <%= f.submit%>
<% end %>

<% if user_signed_in? && current_user.role == "admin" %>
  <%= render "partials/allarticles", articles: @articles%>
<%else%>
   <%=render partial: 'articles'%>
<%end%>


<body>
    <%= yield %>
</body>

