<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!
<% if user_signed_in? %>
  <ul>
  <li>
   <%= link_to "Sign out", destroy_user_session_url, method: :delete, class:"nav-link" %>
  </li>

  <li>
    <%= link_to "eddit profile",
    edit_user_registration_path, class:"nav-link" %>
  </li>
</ul>
<%else%>
<ul>
  <li>
    <%= link_to "sign up",
    new_user_registration_path, class:"nav-link" %>
  </li>

  <li>
    <%= link_to "sign in",
    new_user_session_path, class:"nav-link" %>
  </li>
</ul>
<%end%>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
