<h1><%= current_user == @article.user ||(current_user.role == 'admin' if user_signed_in?) ? (link_to @article.title, edit_article_path(@article)) :  @article.title %></h1>
<p><%= @article.body %></p>
<p class='author'> author : <%= link_to @article.user.email.split("@")[0], user_path(@article.user), {:class => "btn btn-outline-secondary"}
  %> </p>



<h2>Comments</h2>
<%= render 'comments/comments'%>
  <div class="digg_pagination center">
    <%= will_paginate @comments%>
  </div>

<%if user_signed_in?%>
<h2 class='addcomment'>Add a comment:</h2>
<%= render 'comments/form' %>


<%end%>
