<p> email: <%= @user.email%> </p>
<p>role: <%= @user.role %></p>

<%= render 'articles/blogs', articles: @articles %>


  <%= link_to t("create new article"), new_article_path %>
  <%= link_to t("all articles"), articles_path %>
  <% if policy(User).index? %>
    <%= link_to "t(users"), users_path %>
  <%end %>

       