
<table class="admintable table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= sort_link(@q, :title, t("Title"), default_order: :asc) %></th>
      <th scope="col"><%=t("description")%></th> 
      <th scope="col"><%=t("created_at")%></th>
      <th scope="col"><%=t("status")%></th>
      <th scope="col"><%=t("author")%></th>
      <th scope="col"><%=t("category")%></th>
      <th scope="col"><%=t("approved")%></th>
      <th scope="col"> </th>
      <th scope="col"> </th>
      <th scope="col"><%=t("likes")%></th>
      <th scope="col"><%=t("comments")%></th>
      

     </tr>
  </thead>  
  <tbody>

  <% @articles.each do |article| %>
    <tr>
      <th scope="row"><%= article.id %></th>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.description || "no description" %></td>
      <td><%= article.created_at %></td>
      <td><%= t("#{article.status}") %></td>
      <td><%= link_to article.user.email, user_path(article.user_id) %></td>
       <td><% Category.where(id: article.category_ids).find_each do |category|%> 
      <%= link_to t("#{category.name}"), category_path(category.id) %>   
      <%end%></td>   
      <td><%= article.approved ? t("approved") : t("not approved")%></td>
      <td><%= link_to t("Edit"), edit_article_path(article) %></td>
      <td><%= link_to t("Destroy"), article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: t("Are you sure?")
                  } %></td>
      <td><%= article.likes.count %></td>
      <td><%= article.comments.count %></td>


    </tr>
  
<% end %>
 </tbody>
</table>