<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="position: fixed; top: 0; width: 100%; z-index: 9999;">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>

        <li>
            <%if current_user.avatar.nil? %>
              <%= link_to image_tag("#{current_user.avatar}", :height => 40, :width=> 40, :alt => 'profile', :title => 'profile'), user_path(current_user), :class => 'nav-link text-light'%>
            <%else%>
              <%= link_to t("profile"), user_path(current_user), :class => 'nav-link text-light'%>
            <%end%>
          </li>
        <li>
          <%= link_to t("new article"),
            new_article_path, class:"nav-link text-light" %>
        </li>

        <li>
          <%= link_to t("articles"),
          articles_path, class:"nav-link text-light" %>
          </li>

        <li>
          <%= link_to t("categories"),
          categories_path, class:"nav-link text-white" %>
        </li>
            
        <li>
          <%= link_to t("edit profile"),
            edit_user_registration_path, class:"nav-link text-light" %>
        </li>

        <li>     
          <% if policy(User).index? %>
            <%= link_to t("admin panel"),  admin_path(current_user), class:"nav-link text-light" %>
          <% end %>
        </li>  

        <li>
            <%= link_to t("log out"),
          destroy_user_session_url, method: :delete, class:"nav-link text-light font-weight-bold" %>
        </li>

       <% else %>
        <li>
            <%= link_to t("home"),
          root_path, class:"nav-link text-light" %>
        </li>

        <li>
            <%= link_to t("categories"),
          categories_path, class:"nav-link text-white" %>
        </li>
        
        <li>
            <%= link_to t("sign in"),
          new_user_session_path, class:"nav-link text-light" %>
        </li>

        <li>
            <%= link_to t("sign up"),
          new_user_registration_path, class:"nav-link text-light " %>
        </li> 
    <%end%>
      </ul>

      <ul class="navbar-nav ml-auto " >
        <li class="nav-item">
          <%= link_to(locale: :ge) do %>
            <img  width=30 class="c-icon ms-3 mt-2"  alt="geoflag" src="https://cdn.countryflags.com/thumbs/georgia/flag-400.png">
        <% end %>
        </li>

        <li class="nav-item">
          <%= link_to(locale: :en) do %>
            <img  width=30 height=21 class="c-icon ms-3 mt-2" alt="enflag" src="https://cdn.countryflags.com/thumbs/united-kingdom/flag-400.png">
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to t("subscribe"),
            pricing_path, class:"nav-link text-white" %>
        </li>
      </ul>
    </div>

      <% if user_signed_in? %>
       <% if current_user.payed == true %>
       <%= link_to t("members only"), members_only_articles_path, class:"nav-link text-light" %>
      <% end %>
      <% end %>
  </nav>
</body>
