<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="position: fixed; top: 0; width: 100%; z-index: 9999;">
    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
        <li class="btn" style="color:white;">
            <%= link_to t("home"),
          root_path, class:"nav-link text-light" %>
        </li>
        
        <li class="dropbtn btn" style="color:white; ">
          <%= link_to t("categories"),
          categories_path, class:"nav-link text-white" %>
        </li>
            
        <li class="dropbtn btn" style="color:white;">
          <%if current_user.avatar.nil? %>
            <%= link_to image_tag("#{current_user.avatar}", :height => 40, :width=> 40, :alt => 'profile', :title => 'profile'), user_path(current_user), :class => 'nav-link text-light'%>
          <%else%>
            <%= link_to t("profile"), user_path(current_user), :class => 'nav-link text-light'%>
          <%end%>
          <%= render 'partials/articles'%>
        <li class="dropbtn btn" style="color:white;">     
          <% if policy(User).index? %>
            <%= link_to t("admin panel"),  admin_path(current_user), class:"nav-link text-light" %>
          <% end %>
        </li>  


       <% else %>
        <li>
            <%= link_to t("home"),
          root_path, class:"nav-link text-light" %>
        </li>

        <li >
        <%= link_to t("all articles"),
        articles_path, class:"nav-link text-light" %>
        </li>

        <li>
            <%= link_to t("categories"),
          categories_path, class:"nav-link text-white" %>
        </li>

        <li>
          <%= link_to t("explore"),
            explore_articles_path, class:"nav-link text-light" %>
        </li>
        
        <li>
            <%= link_to t("sign in"),
          new_user_session_path, class:"nav-link text-light" %>
        </li>

        <li>
            <%= link_to t("sign up"),
          new_user_registration_path, class:"nav-link text-light " %>
        </li> 
    <%end%>
      </ul>

      <ul class="navbar-nav ml-auto " >
        <li>
          <%= render 'partials/locals'%>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= render 'partials/useroptions'%>
          </li>
          <li >
            <%= render 'layouts/notifications'%>
          </li>
        <%end%>
      </ul>
    </div>

  </nav>
</body>
