<%= search_form_for @q, remote: true do |f| %>
  <%= f.search_field :user_name_or_email_cont, placeholder: 'search for user' %>
  <%= f.submit %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :id, "id", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :user_name, "username", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :email, "email", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :created_at, "registration date:", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :role, "role", default_order: :asc) %></th>

    </tr>
  </thead>  
  <tbody>

  <% @users.each do |user| %>


    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.user_name %></td>
      <td><%= link_to user.email, user %></td>
      <td><%= user.created_at %></td>
      <td><%= link_to user.role, admin_change_role_path(user) %></td>
<td><%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data:
       {"turbo-method": :delete,  turbo_confirm: "You sure?" }, class: "btn btn-primary btn-md" %></td>
    </tr>    </tr>
    
 
<% end %>
 </tbody>
</table>