  <img src = "<%= @user.avatar %>", style="width: 150px"> 
  
    <h1>  <%= @user.user_name%>  </h1>
  <ul>  
    <% if user_signed_in? && current_user.role == 'admin'%>
    <li>  <%= t("role")%>: <%=t("#{@user.role }")%>  </li>
    <%end%>
  </ul>
  
    <%= link_to t("contact"), user_phones_path(@user), {:class => "btn btn-dark"}%> 

    <%= link_to t('locations'), user_locations_path, {:class => "btn btn-dark"}%>

<% if user_signed_in? && (current_user == @user || current_user.role == 'admin') %>
    <%= link_to t("add location"), new_place_path,  {:class => "btn btn-dark"} %>

  <%= link_to t("create new article"), new_article_path,  {:class => "btn btn-light"} %>

<% end %>



<%= render 'articles/articles', articles: @articles %>



       