  <img src = "<%= @user.avatar %>", style="width: 150px"> 
  <ul>
    <li>  <%= t("username")%>: <%= @user.user_name%>  </li>
    <li>  <%= t("role")%>: <%=t("#{@user.role }")%>  </li>
  </ul>
<% if user_signed_in?%>
  <%if params[:user_id] == current_user[:id] %>
    <%= link_to t("create new article"), new_article_path,  {:class => "btn btn-outline"} %>
    <%= link_to t("all articles"), articles_path,  {:class => "btn btn-outline"} %>
  <% end %>
<%end%>

<%= render 'articles/articles', articles: @articles %>





       