<p><%= t("username")%>: <%= @user.user_name%> </p>
<p><%= t("role")%><%= @user.role %></p>
  <%= link_to t("create new article"), new_article_path,  {:class => "btn btn-outline"} %>
  <%= link_to t("all articles"), articles_path,  {:class => "btn btn-outline"} %>

<%= render 'articles/articles', articles: @articles %>





       