
<div id="languages">
  <h3 style="font-family: Arabic Typesetting"><%=t("categories by languages")%>:</h3>
  <%= render partial: 'partials/languages' %>
</div>

  <br>
  <br>


<h1 style="font-family: Arabic Typesetting"><%=t("Categories")%>:</h1>

<div id="categories">
  <% @categories.where('approved = ?', true).each do |category| %>
    <%= link_to category.name, category_path(category), {:class => "btn btn-outline-danger"} %>
  <% end %>
</div>

<% if user_signed_in? && current_user.role == 'admin'%>
<br>
  <%= link_to t("New category"), new_category_path, {:class => "btn btn-secondary"} %>
  <p>  <%= @categories.where('approved = ?', false).count%>
<%= t("waiting for approval")%>:<p>
  <%=render partial: 'unapproved'%>
<% elsif user_signed_in? %>
<%= link_to t("Category request"), new_category_path %>
<% end%>





