<p style="color: green"><%= notice %></p>

<%= @category.name %>
<%= render 'articles/articles' %>


<% if user_signed_in? && current_user.role == 'admin'%>
<div>
  <%= link_to t("Edit this category"), edit_category_path(@category) %> |
  <%= link_to t("Back to categories"), categories_path %>

  <%= button_to t("Destroy this category"), @category, method: :delete %>
</div>
<% end%>
